<html>
<head>
<link rel="stylesheet" href="<%= ENV["RACK_BASE_URI"] %>/vendor/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="<%= ENV["RACK_BASE_URI"] %>/vendor/animate.css">
<link rel="stylesheet" href="<%= ENV["RACK_BASE_URI"] %>/lines.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
</head>
<body>
  <div data-role="page" id="top">
    <h1 class="animated bounce">Lines</h1>
    <center>
    <% (1..7).each do |x| %>
    <img src="<%= ENV["RACK_BASE_URI"] %>/images/gem0<%= x %>.svg" width="40">
    <% end %>
    </center>
    <a href="#one" data-role="button">ゲーム開始</a>
    <a href="#rule" data-role="button">ゲームルール</a>
    <a href="#ranking" data-role="button">ランキング</a>
  </div>

  <div data-role="page" id="one">
    <div id="next"></div>
    <div id="score"></div>
    <div class="break"></div>
    <div id="content"></div>
    <a href="<%= ENV["RACK_BASE_URI"] %>/" class="ui-btn">戻る</a>
  </div>

  <div data-role="page" id="rule">
    <ol>
      <li>宝石を移動してたて・よこ・ななめに5個以上並べて消す。
      <li>5個だと25点、6個だと36点、7個だと49点。
      <li>宝石で道がふさがっているとその先には移動できない。
      <li>移動する度に3個の宝石がランダムに追加される。
      <li>全部埋まるとゲーム終了。
    </ol>
    <a href="<%= ENV["RACK_BASE_URI"] %>/" class="ui-btn">OK</a>
  </div>

  <div data-role="page" id="ranking">
    <h2>ランキング</h2>
    <ol data-role="listview">
    <% @scores.each do |k,v| %>
      <li><%= k %><span class="ui-li-count"><%= v %></span></li>
    <% end %>
    </ol>
    <a href="<%= ENV["RACK_BASE_URI"] %>/" class="ui-btn">OK</a>
  </div>
</div>

<script>
var baseURI = "<%= ENV["RACK_BASE_URI"] %>";
</script>
<script src="<%= ENV["RACK_BASE_URI"] %>/vendor/jquery.min.js"></script>
<script src="<%= ENV["RACK_BASE_URI"] %>/vendor/jquery.mobile-1.4.5.min.js"></script>
<script src="<%= ENV["RACK_BASE_URI"] %>/vendor/jquery-ui.min.js"></script>
<script src="<%= ENV["RACK_BASE_URI"] %>/vendor/jquery.jrumble.1.3.min.js"></script>
<script src="<%= ENV["RACK_BASE_URI"] %>/lines.js"></script>
</body>
</html>
